@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  cursor: default;
}

html,
body,
#__next {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  touch-action: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input[type="range"]::-webkit-slider-thumb {
  background: white;
  opacity: 0.35;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 100%;
  width: 2.5rem; /* Set a specific slider handle width */
  height: 2.5rem; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}
